#header{
    display:flex;
    margin-left: 10%;
    height: 40%;
    flex-direction: column;
}
.header-upper{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Times New Roman";
}
.header-bottem{
    color: gray;
    font-size: 0.7rem;
    font-family: "Times New Roman";
    position: relative;
    top: 0.8rem;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    background-color: purple;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
}
.slider.round {
    border-radius: 50px;
   margin-left: 1rem;
}
.slider.round:before {
    border-radius: 50%;
}
#toggle{position: relative;
left: 70%;
bottom: 20%;}
p2{font-size: 0.7rem;
position: relative;
left: 0.5rem;
top: 0.2rem;
color: purple;}
p3{
    font-size: 0.7rem;
    position: relative;
    right: 3.5rem;
    top: 0.2rem;
    color: purple;
}
